<!DOCTYPE HTML>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <style>
            li {
                color: darkblue;
                font-size: 20px;
            }
        </style>
        <title>Hawaii API</title>
    </head>
</html>


<body>

    <!-- This is a comment in HTML-->
    <h1><b> Available Routes: </b></h1>
    <ul>
        <li>/api/v1.0/precipitation</li>
        <li>/api/v1.0/stations</li>
        <li>/api/v1.0/tobs</li>
        <li>/api/v1.0/&lt;start&gt;</li>
        <li>/api/v1.0/&lt;start&gt;/&lt;end&gt;</li>


</body>